language: android
jdk: oraclejdk8
sudo: false

env:
  global:
    - ANDROID_TARGET=android-28
    - ANDROID_ABI=arm64-v8a

android:
  components:
    - tools
    - build-tools-28.0.3
    - android-28

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache

before_install:
  - chmod +x gradlew

script:
  - ./gradlew build jacocoTestReport

after_success:
  - bash <(curl -s https://codecov.io/bash) -t ${TOKEN_CODECOV}

licenses:
  - 'android-sdk-license-.+'
  - 'google-gdk-license-.+'